<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Edit Post</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" sizes="192x192" href="/icons/icon-192x192.png">
  <link rel="icon" sizes="512x512" href="/icons/icon-512x512.png">
  <meta name="theme-color" content="#333333">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body>
  <header>
    <nav class="left-nav">
      <a href="/" class="nav-link"><i class="fas fa-house-user"></i></a>
    </nav>
    <h1>Edit Post</h1>
    <nav class="right-nav">
      <a href="/admin" class="nav-link"><i class="fas fa-user-shield"></i></a>
    </nav>
  </header>
  <main>
    <section class="form-section">
      <h2>Edit Post</h2>
      <form action="/api/posts/<%= post.id %>?_method=PUT" method="post" enctype="multipart/form-data">
        <input type="text" name="title" value="<%= post.title %>" placeholder="Title" required>
        <textarea name="content" placeholder="Content" required maxlength="120" oninput="updateCharCount(this)"><%= post.content %></textarea>
        <div id="charCount"><%= 120 - post.content.length %> characters remaining</div>
        <input type="file" name="media">
        <% if (post.imageUrl) { %>
          <img src="<%= post.imageUrl %>" alt="Image" style="max-width: 100px;">
        <% } %>
        <% if (post.videoUrl) { %>
          <video controls style="max-width: 100px;">
            <source src="<%= post.videoUrl %>" type="video/mp4">
          </video>
        <% } %>
        <button type="submit">Update Post</button>
      </form>
    </section>
  </main>
  <script>
    function updateCharCount(textarea) {
      const maxLength = textarea.getAttribute('maxlength');
      const currentLength = textarea.value.length;
      const charCountElement = document.getElementById('charCount');
      charCountElement.textContent = `${maxLength - currentLength} characters remaining`;
    }
  </script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js')
          .then(registration => {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, error => {
            console.log('ServiceWorker registration failed: ', error);
          });
      });
    }
  </script>
</body>
</html>
